@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #f0f0f0;
}


h1{
    text-align: center;
    top:10px;
}

.faq-container {
    max-width: 600px;
    margin:0 auto;
}
.faq {
    border: 2px solid blue;
    margin:10px;
    padding: 10px;
    position: relative;
}
.faq-title{
    text-align: center;
    color:red
}
.faq-text{
    color:green;
    display: none;
    text-align: center;
}
.faq-toggle {
    top:10px;
    right:10px;
    position: absolute;
}

.faq-toggle .fa-times{
    display: none;
}

.faq.active .faq-toggle .fa-times{
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }

  .faq.active .faq-text{
    display: block;
  }